nav.navbar {
  background-color: rgb(227,53,13);
  a.navbar-brand {
    color: white;
    font-weight: bold;
  }
  div.navbar-collapse div.navbar-nav a.nav-link {
    color: whitesmoke;
  }
  margin-bottom: 3em;
}